<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.DTMSoundMaster.ProjectRaggedCast" >

    <application
		
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
		android:resizeableActivity = "true"
		android:screenOrientation="landscape" >
		
        <activity
			
            android:name=".MainActivity"
            android:label="Project Ragged Cast"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
			
            <intent-filter>
				
                <action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
					
            </intent-filter>
			
        </activity>
		
    </application>

</manifest>
